@using Proje.ViewModels;
@{
    ViewData["Title"] = "ResetPassword";
}
@model ResetPasswordViewModel



<style>

	.breadcrumb {
		background-color: #4FD675;
	}

	.breadcrumb-item a {
		color: floralwhite;
	}


	.alert-info {
		background-color:green;
		color:white;
		height: 50px;
		text-align: center;
		line-height: 40px;
	}

	

</style>



<body>
	<div class="wrapper" style="margin-right:70px;">
		<div class="preloader"></div>


		<div class="dashboard_content_wrapper">
			<div class="dashboard dashboard_wrapper pr30 pr0-xl">

				<div class="dashboard__main pl0-md">
					<div class="dashboard__content hover-bgc-color">

						<div class="row">
							<div class="col-xl-12">



								<div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
									<div class="bdrb1 pb15 mb25">
										<h5 class="list-title">Şifre Değiştir</h5>
									</div>
									<div class="col-lg-7">
										<div class="row">
											<div id="resetPasswordValidationErrors" class="alert alert-danger" role="alert" style="display:none;">
												<ul>
												</ul>
											</div>
											<div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert"></div>
											<form method="post" name="ResetPasswordForm">
												<div class="row">
													<div class="col-sm-6">
														<div class="mb20">
															<label class="heading-color ff-heading fw500 mb10">Yeni Şifre</label>
															<input asp-for="Password" type="password" class="form-control" id="ResetPassword" style="padding-right:30px;" placeholder="********" />
														</div>
														
														
													</div>
											
													<div class="col-sm-12">
														<div class="mb20">
															<label class="heading-color ff-heading fw500 mb10">Yeni Şifre Tekrar</label>
															<input asp-for="PasswordConfirm" type="password" class="form-control" id="ResetPasswordConfirm" style="padding-right:30px;" placeholder="********">
															
															
														</div>
													</div>


													<div class="col-md-12">
														<div class="text-start">
															
															<button type="submit" class="ud-btn btn-thm">Kaydet<i class="fal fa-arrow-right-long"></i></button>
														</div>
													</div>
											   </div>
												
											</form>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
	<!-- Wrapper End -->

</body>
<br />
<br />
<br />




<script>
	// valid kontrolleri //
	$(document).ready(function () {
		function validateResetPassword(input, event) {
			var isValid = true;

			if (input.attr('id') === 'ResetPassword') {
				var password = input.val();
				var passwordRegex = /^(?=.*[A-Z])(?=.*[a-z]).{6,}$/;
				if (!passwordRegex.test(password)) {
					if (event.type === 'focusout' && !$("#resetPasswordLength").length) {
						$("#resetPasswordValidationErrors ul").append("<li id='resetPasswordLength'>*Yeni şifreniz en az 6 karakter olmalı, en az bir büyük harf ve en az bir küçük harf içermeli.</li>");
						$("#resetPasswordValidationErrors").show();
					}
					isValid = false;
				} else {
					$("#resetPasswordLength").remove();
					if ($("#resetPasswordValidationErrors ul").children().length == 0) {
						$("#resetPasswordValidationErrors").hide();
					}
				}
			}

			if (input.attr('id') === 'ResetPasswordConfirm') {
				var confirmPassword = input.val();
				var password = $("#ResetPassword").val();
				if (confirmPassword !== password) {
					if (event.type === 'focusout' && !$("#resetPasswordMatch").length) {
						$("#resetPasswordValidationErrors ul").append("<li id='resetPasswordMatch'>*Yeni şifreler uyuşmuyor.</li>");
						$("#resetPasswordValidationErrors").show();
					}
					isValid = false;
				} else {
					$("#resetPasswordMatch").remove();
					if ($("#resetPasswordValidationErrors ul").children().length == 0) {
						$("#resetPasswordValidationErrors").hide();
					}
				}
			}

			return isValid;
		}

		$("#ResetPassword, #ResetPasswordConfirm").on("keyup focusout", function (event) {
			validateResetPassword($(this), event);
		});

		$("form[name='ResetPasswordForm']").on("submit", function (e) {
			e.preventDefault();

			var allValid = true;
			$("#ResetPassword, #ResetPasswordConfirm").each(function () {
				if (!validateResetPassword($(this), e)) {
					allValid = false;
				}
			});
			
			if (allValid) {
				// Ajax kullanarak formu gönder
				$.ajax({
					type: $("form[name='ResetPasswordForm']").attr('method'),
					url: $("form[name='ResetPasswordForm']").attr('action'),
					data: $("form[name='ResetPasswordForm']").serialize(),
					success: function (response) {
						if (response.success) {
							Swal.fire({
								icon: 'success',
								title: 'Başarılı!',
								text: response.message,
								width: '460px',
								height: '200px',
								confirmButtonText: 'Tamam',
								confirmButtonColor: '#4fd675',
							}).then(function () {
								window.location.href = "/Home/Index";
							});
						} else {
							$("#resetPasswordValidationErrors ul").empty();
							if (response.message) {
								$("#resetPasswordValidationErrors ul").append("<li>" + response.message + "</li>");
							}
							if (response.errors) {
								$.each(response.errors, function (index, error) {
									$("#resetPasswordValidationErrors ul").append("<li>" + error + "</li>");
								});
							}
							$("#resetPasswordValidationErrors").show();
						}
					}
				});
			}
		});
	});
</script>