@{
	ViewData["Title"] = "RoleUpdate";
}
@model AdminModel.RoleUpdateViewModel


<div class="page-body">

	<!-- New Product Add Start -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-sm-8 m-auto">
						<div class="card">
							<div class="card-body">
								<div class="card-header-2">
									<h5>Rol Düzenle</h5>
								</div>

								<form asp-action="RoleUpdate" method="post" class="theme-form theme-form-2 mega-form">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<input type="hidden" asp-for="Id" />

									<div class="mb-4 row align-items-center">
										<label asp-for="Name" class="form-label-title col-sm-3 mb-0"></label>
										<div class="col-sm-9">
											<input asp-for="Name" class="form-control" />
										</div>
										<span asp-validation-for="Name" class="text-danger" requared></span>
									</div>


									<div style="margin-left:25.5%;" class="btn-group">
										<button type="submit" style="width:100px" class="btn btn-primary">Kaydet</button>&nbsp;&nbsp;

										<a asp-action="Index" style="width:100px" class="btn btn-dark">Geri Dön</a>

									</div>


								</form>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>


	@section Scripts {
		@{
			await Html.RenderPartialAsync("_ValidationScriptsPartial");
		}
	}











