@using Proje.ViewModels;

@{
	ViewData["Title"] = "PasswordChange";
}
@model PasswordChangeViewModel




<style>
	.breadcrumb {
		background-color: #4FD675;
	}

	#greenLine {
		width: 65.5%;
		height: 50px;
		transform: translateY(30%);
	}

	.breadcrumb-item a {
		color: floralwhite;
	}

	.centered-form {
		transform: translateX(7%);
		align-items: center;
	}

	#validationErrors {
		width: 65.5%;
		margin-top: 30px;
	}

</style>




<body>
	<div class="wrapper" style="margin-right:70px;">
		<div class="preloader"></div>


		<div class="dashboard_content_wrapper">
			<div class="dashboard dashboard_wrapper pr30 pr0-xl">

				<div class="dashboard__main pl0-md">
					<div class="dashboard__content hover-bgc-color">

						<div class="row">
							<div class="col-xl-12">



								<div class="ps-widget bgc-white bdrs4 p30 mb30 overflow-hidden position-relative">
									<div class="bdrb1 pb15 mb25">
										<h5 class="list-title">Şifre Değiştir</h5>
									</div>
									<div class="col-lg-7">
										<div class="row">
											<div id="validationErrors" class="alert alert-danger" role="alert" style="width:800px; display: none;">
												<ul>
													<!-- Hatalar burada listelenecek -->
												</ul>
											</div>
											<form name="PasswordChangeForm" asp-controller="Member" asp-action="PasswordChange" method="post" enctype="multipart/form-data">
												<div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert">
												</div>
												<div class="row">
													<div class="col-sm-6">
														<div class="mb20">
															<label class="heading-color ff-heading fw500 mb10">Eski Şifre</label>
															<input asp-for="PasswordOld" type="password" class="form-control" id="PasswordOld" style="padding-right:30px;" placeholder="********" />
														</div>
														
														
													</div>
											
													<div class="col-sm-12">
														<div class="mb20">
															<label class="heading-color ff-heading fw500 mb10">Yeni Şifre</label>
															<input asp-for="PasswordNew" type="password" class="form-control" id="PasswordNew" style="padding-right:30px;" placeholder="********">
															
															
														</div>
													</div>

													<div class="col-sm-12">
														<div class="mb20">
															<label class="heading-color ff-heading fw500 mb10">Yeni Şifre Tekrar</label>
															<input asp-for="PasswordNewConfirm" type="password" class="form-control" id="PasswordNewConfirm" style="padding-right:30px;" placeholder="********">
															
															
														</div>
													</div>

													<div class="col-md-12">
														<div class="text-start">
															
															<button type="submit" class="ud-btn btn-thm">Kaydet<i class="fal fa-arrow-right-long"></i></button>
														</div>
													</div>
											   </div>
												
											</form>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>
	<!-- Wrapper End -->

</body>
<br />
<br />
<br />

<script>
	// Şifre gör-gizle  //

	$(document).ready(function () {
		$(".toggle-password").click(function () {
			$(this).toggleClass("fa-eye fa-eye-slash");
			var input = $($(this).attr("toggle"));
			if (input.attr("type") == "text") {
				input.attr("type", "password");
			} else {
				input.attr("type", "text");
			}
		});
	});
</script>

<script>
	// Valid kontrolleri //
	$(document).ready(function () {
		function validatePasswordChange(input, event) {
			var isValid = true;

			if (input.attr('id') === 'PasswordOld') {
				var passwordOld = input.val();
				if (!passwordOld) {
					if (event.type === 'focusout' && !$("#passwordOldError").length) {
						$("#validationErrors ul").append("<li id='passwordOldError'>*Eski şifre boş olamaz.</li>");
						$("#validationErrors").show();
					}
					isValid = false;
				} else {
					$("#passwordOldError").remove();
					if ($("#validationErrors ul").children().length == 0) {
						$("#validationErrors").hide();
					}
				}
			}

			if (input.attr('id') === 'PasswordNew') {
				var password = input.val();
				var passwordRegex = /^(?=.*[A-Z])(?=.*[a-z]).{6,}$/;
				if (!passwordRegex.test(password)) {
					if (event.type === 'focusout' && !$("#passwordNewError").length) {
						$("#validationErrors ul").append("<li id='passwordNewError'>*Yeni şifreniz en az 6 karakter olmalı, en az bir büyük harf ve en az bir küçük harf içermeli.</li>");
						$("#validationErrors").show();
					}
					isValid = false;
				} else {
					$("#passwordNewError").remove();
					if ($("#validationErrors ul").children().length == 0) {
						$("#validationErrors").hide();
					}
				}
			}

			if (input.attr('id') === 'PasswordNewConfirm') {
				var confirmPassword = input.val();
				var password = $("#PasswordNew").val();
				if (confirmPassword !== password) {
					if (event.type === 'focusout' && !$("#passwordMatchError").length) {
						$("#validationErrors ul").append("<li id='passwordMatchError'>*Yeni şifreler uyuşmuyor.</li>");
						$("#validationErrors").show();
					}
					isValid = false;
				} else {
					$("#passwordMatchError").remove();
					if ($("#validationErrors ul").children().length == 0) {
						$("#validationErrors").hide();
					}
				}
			}

			return isValid;
		}

		$("#PasswordOld, #PasswordNew, #PasswordNewConfirm").on("keyup focusout", function (event) {
			validatePasswordChange($(this), event);
		});

		$("form[name='PasswordChangeForm']").on("submit", function (e) {
			e.preventDefault();

			var allValid = true;
			$("#PasswordOld, #PasswordNew, #PasswordNewConfirm").each(function () {
				if (!validatePasswordChange($(this), e)) {
					allValid = false;
				}
			});

			if (allValid) {
				$.ajax({
					type: $("form[name='PasswordChangeForm']").attr('method'),
					url: $("form[name='PasswordChangeForm']").attr('action'),
					data: $("form[name='PasswordChangeForm']").serialize(),
					success: function (data) {
						Swal.fire({
							icon: 'success',
							title: 'Başarılı!',
							text: 'Şifreniz başarıyla değiştirildi.',
							width: '460px',
							height: '200px',
							confirmButtonText: 'Tamam',
							confirmButtonColor: '#4fd675',
						}).then(function () {
							window.location.href = "/Home/Index";
						});
					},
					error: function (xhr, status, error) {
						var err = JSON.parse(xhr.responseText);
						$('#validationErrors ul').empty();

						if (err.message) {
							$('#validationErrors ul').append('<li id="oldPasswordIncorrect">' + err.message + '</li>');
							if (err.message === "Eski şifreniz yanlış") {
								$('#PasswordOld').on('keyup', function () {
									$('#oldPasswordIncorrect').remove();
									if ($("#validationErrors ul").children().length == 0) {
										$("#validationErrors").hide();
									}
								});
							}
						} else if (err.errors) {
							err.errors.forEach(function (error) {
								$('#validationErrors ul').append('<li>' + error + '</li>');
							});
						}
						$('#validationErrors').show();
					}
				});
			}
		});
	});

</script>